services:

  qdrant:
    image: qdrant/qdrant:latest
    container_name: knowledgeai-rag-qdrant
    ports:
      - "6333:6333"
    environment:
      QDRANT__SERVICE__API_KEY: "mysecretapikey"
    restart: unless-stopped


  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: knowledgeai-rag-backend
    ports:
      - "8500:8500"
    env_file:
      - ./backend/.env
    depends_on:
      - qdrant
    restart: unless-stopped


  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: knowledgeai-rag-frontend
    ports:
      - "3000:3000"
    env_file:
      - ./frontend/.env
    depends_on:
      - backend
    restart: unless-stopped
